<form
  [formGroup]="filterForm"
  class="bg-white px-4 py-6 rounded-md shadow-md grid grid-cols-1 items-start gap-4 sm:grid-cols-12"
>
  <div class="sm:col-span-3">
    <div class="input-group">
      <select formControlName="categories" class="input">
        <option value="">All Categories</option>
        @for (category of categories(); track category) {
          <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>
  </div>

  <ng-container formGroupName="priceRange">
    <div class="sm:col-span-3">
      <div class="input-group">
        <input
          min="0"
          type="number"
          formControlName="min"
          placeholder="Min Price"
          class="input"
        />
      </div>
    </div>

    <div class="sm:col-span-3">
      <div class="input-group">
        <input
          type="number"
          min="0"
          formControlName="max"
          placeholder="Max Price"
          class="input"
        />
      </div>
    </div>
  </ng-container>

  <div class="sm:col-span-3 flex items-start justify-start gap-6">
    <button
      type="button"
      class="w-full button button-primary"
      (click)="submit()"
    >
      Apply Filters
    </button>
    @if (filterForm.dirty || filterForm.touched) {
      <button
        type="button"
        class="w-full button button-secondary"
        (click)="reset()"
      >
        Reset Filters
      </button>
    }
  </div>
</form>
