<div
  class="flex justify-between gap-3 items-center my-4 pr-3 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200"
>
  <div class="flex items-center gap-4">
    <img
      [src]="item().product.image"
      alt="{{ item().product.title }}"
      class="w-16 h-16 object-cover rounded"
    />
    <div class="text-gray-600 text-sm">
      <h2 class="font-semibold">{{ item().product.title }}</h2>
      <p>Price: {{ item().product.price | currency }}</p>
    </div>
  </div>

  <div class="flex items-center gap-3">
    <form (ngSubmit)="updateQuantity()">
      <input
        type="number"
        name="qty"
        [(ngModel)]="quantity"
        min="1"
        class="w-16 text-center border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-secondary"
        (change)="updateQuantity()"
      />
    </form>

    <button class="button text-red-400" (click)="removeItem(item().product)">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
